user_uuid="db8fc491-7712-4149-b2c2-19a84f7c3cc6"
bucket_name="terrahouse-bucket"

index_html_filepath="/workspace/terrahouse/public/index.html"
error_html_filepath="/workspace/terrahouse/public/error.html"
